.DS_Store
node_modules
dist
build
target
gen

# Log files
pnpm-debug.log*

# Build tools
.xmake

# Generated Tauri icons
companion/modules/backend/icons

# Editor directories and files
.idea
*.sw?
*~

# Local env files
.env.local
.env.*.local
